# Live Notes :

## Python :

- Python is an interpreted language, which means code is executed line by line, making it easier to debug and test. However, Python can also be compiled into bytecode for improved performance using tools like PyInstaller, Cython, or Nuitka.


### Variables:

- In Python, a variable is a name that refers to a value. You can think of it as a container that holds data. Unlike some other languages, Python doesn't require you to explicitly declare the type of a variable before using it. You simply assign a value to a variable using the equals sign '='.


## Data Types In Python :

- Data types are the different kinds of values that can be stored and used in a program.


![alt text](image.png)

1. Numeric :

- Numeric data type represent data number datatype.

    1) Integer:

     - It represent  int value e.g. 5,110, 2,1.
    2) Complex number:
     - Represent complex number wit real and imagenary parts. e.g 2+3j, -1, -1J.

    3) Float :
     - Float represents floting point number.
      - e.g. 20.5, 2.5, 4.5


2. String :
- String type represent sequence or collection of charachters.
 - e.g. "Hello" "1123"


3. Boolean :
 - Represent boolean value which can be either true or false.


#### Type() :
 - To get type of variable

In [1]:
var_name = "name"
type(var_name)

str

### Variable :

Var_name = "name"

### Mutliple variable & multiple assignment :

In [2]:
var1, var2, var3 = "a", 1, 2.0

Switch the value of a to b and b to a.

1. By creating 3rd variable

In [10]:
a = 10
b = 20
c = a
a = b
b = c
print(a)
print(b)

20
10

  
2. Without Creating Thrid Variable :

In [11]:
a , b = b, a
print(a,b)

10 20

## Data Type Conversion :

- Data type conversion is a conversion of one data type to another data type.

1. Implicit :(Automatic conversion)

- An implicit type of conversion is a conversion performd by python interpreter without programmers intervention.

- when we create variable it automatically set data type

In [ ]:
a = 4     # --> Int
b = "name"# --> Str
c = 4.0   # --> float

 2.  Explicit :  
 - An explicit type conversion is user defined that forces an expression or to be of specific data type.

In [13]:
a = "4"
print(type(a))

b= int(a)
print(type(b))

<class 'str'>
<class 'int'>

### Algorithms , Flowcharts and Pseducode : 

1. Algorithms :
 - Breaking down task into steps known as algorithm 

 - Sequence of steps to solve the problem 

 2. Flowcharts :
 -  Start and stop in given and i middle steps are involved

 3. Pseducode :
  - Plain language way to describe steps of an algorithm without using actual syntax.



 ### Mutability :(changeble)
   - Mutable we can make changes after creating. e.g. List

### immutable :(unchangeble) :
   - We cannot make chnages once we created e.g. Float, str, int, bytes, tuples.

## Tuples : (Data Structure)
- Tuples are orderd collection of heterogenous value, which are immutable.

 - Variable stored in strctured format , denoted by ().
 - itarable - Can loop through it.
 - We cannot use append(), insert(), pop(), remove() methods in tuple if we want to make changes in tupple we need to convert it into list and then we can use these methods.

In [ ]:
tuple_1 = (2,3,323,212,3,56,8) 

list_1 = list(tuple_1)

list_1.append(1)

tuple_1 = tuple(list_1)

print(tuple_1)

(2, 3, 323, 212, 3, 56, 8, 1)

- Join Two Tuples :

In [16]:
t1 = (1,2,3,4)
t2 = (4,5,6,7,8)

t3= t1 + t2
type(t3)

tuple

- Repetation of tuple :
  -  We can repeate tuple multiple times by multiplying it.

In [ ]:
t4 = t3 *3

### Membership Function :

 1. in :
   - IN is used to check specific element present in list or not
   It will show resukt in boolean vale true or false

In [20]:
tuple_1 = (2,3,323,212,3,56,8)

2 in tuple_1

True

 2. Not in :
  - Not in check whether value is present in tuple or not.
  - If value is there result will fasle

In [ ]:
2 not in tuple_1

False

Inbuilt functions :

1. length() : 
  - len() calculate the length of object

In [25]:
len(list_1)
len(tuple_1)

7

2. max() :
 - Find max number.

In [27]:
print(list_1)
max(list_1)

[2, 3, 323, 212, 3, 56, 8, 1]

323

3. Min():

- Find minimum number

In [28]:
min(list_1)

1

### Indexing & Slicing :

1. Indexing : (Position numbers)

    - Every value will be store in index number, every value willl have number.

    - list = [1(0), 2(1), 3(2),5(3), "a"(4)] ----(Positive indexing start from first element)

    - list = [1(-4), 2(-4), 3(-3),5(-2), "a"(-1)] ---(negetive indexing start from last element of list)

    - To access items in list by using index number [] e.g. list_1[2], this will show 3rd item in list

In [ ]:
list_2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(list_2[0]) # gives 1st element in list

print(list_2[1]) # gives 2nd elemwnt in list

print(list_2[-1])# gives last element from list by negetive indexing

1
2
20

- Access element by reffering index :

In [50]:
list_2.index(4) # instead of index no we can refer by its value(e.g. we want to check what is index no for 4 element in list)

3

2 . Slicing : 

  - Taking part of something using its position(index no)
  - var_name[start_index : stop_index : step_index]
  - start_index - is mandetory
  - stop_index - is optional
  - step_index - optional
  - When we select range start_index is included but stop_index is excluded.
  - 1 is default for step.

In [47]:
list_2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

print(list_2[ : :-1]) # Select entire list
print(list_2[5:])     # Select from 5 element to end os list
print(list_2[-1])     # Select last element of list
print(list_2[ :-1])   # Gives all element except last one 
print(list_2[: : 2])  # Gives every 2nd element use 2 as step
print(list_2[: : 3])  # Gives every 3rd element use 3 as step
print(list_2[-8:])    # Gives elements starting from the 8th position from the end till the end of the list.
print(list_2[-4:])    # Gives last 4 element from list.

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
20
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[1, 4, 7, 10, 13, 16, 19]
[13, 14, 15, 16, 17, 18, 19, 20]
[17, 18, 19, 20]

Q1. Given word = "Python", extract "Pyt".

In [54]:
word = "Python"

word[0:3]

'Pyt'

Q2. From "Programming", get "gram".

In [53]:
word = "Programming"

word[3:7]

'gram'

Q3. Reverse "HelloWorld" using slicing.

In [59]:
strng = "HelloWorld"
strng[: : -1]

'dlroWolleH'

Q4. Extract every 2nd character from "DataScience".

In [60]:
word_1 = "datascience"

word_1[::2]

'dtsine'

Q4. From "Artificial", get the substring "Art".

In [61]:
word = "Artificial"
word[:3]

'Art'

Q5. From "MachineLearning", extract "Learning" using negative slicing.

In [64]:
word = "MachineLearning"
word[-8:]

'Learning'

Q6. Get "thon" from "Python" without using word[2:].

In [ ]:
word = "Python"
word[-4:]

'thon'