# Live Notes :

## Python :

- Python is an interpreted language, which means code is executed line by line, making it easier to debug and test. However, Python can also be compiled into bytecode for improved performance using tools like PyInstaller, Cython, or Nuitka.


### Variables:

- In Python, a variable is a name that refers to a value. You can think of it as a container that holds data. Unlike some other languages, Python doesn't require you to explicitly declare the type of a variable before using it. You simply assign a value to a variable using the equals sign '='.


## Data Types In Python :

- Data types are the different kinds of values that can be stored and used in a program.


![alt text](image.png)

1. Numeric :

- Numeric data type represent data number datatype.

    1) Integer:

     - It represent  int value e.g. 5,110, 2,1.
    2) Complex number:
     - Represent complex number wit real and imagenary parts. e.g 2+3j, -1, -1J.

    3) Float :
     - Float represents floting point number.
      - e.g. 20.5, 2.5, 4.5


2. String :
- String type represent sequence or collection of charachters.
 - e.g. "Hello" "1123"


3. Boolean :
 - Represent boolean value which can be either true or false.


#### Type() :
 - To get type of variable

In [1]:
var_name = "name"
type(var_name)

str

### Variable :

Var_name = "name"

### Mutliple variable & multiple assignment :

In [2]:
var1, var2, var3 = "a", 1, 2.0

Switch the value of a to b and b to a.

1. By creating 3rd variable

In [10]:
a = 10
b = 20
c = a
a = b
b = c
print(a)
print(b)

20
10

  
2. Without Creating Thrid Variable :

In [11]:
a , b = b, a
print(a,b)

10 20

## Data Type Conversion :

- Data type conversion is a conversion of one data type to another data type.

1. Implicit :(Automatic conversion)

- An implicit type of conversion is a conversion performd by python interpreter without programmers intervention.

- when we create variable it automatically set data type

In [ ]:
a = 4     # --> Int
b = "name"# --> Str
c = 4.0   # --> float

 2.  Explicit :  
 - An explicit type conversion is user defined that forces an expression or to be of specific data type.

In [13]:
a = "4"
print(type(a))

b= int(a)
print(type(b))

<class 'str'>
<class 'int'>

### Algorithms , Flowcharts and Pseducode : 

1. Algorithms :
 - Breaking down task into steps known as algorithm 

 - Sequence of steps to solve the problem 

 2. Flowcharts :
 -  Start and stop in given and i middle steps are involved

 3. Pseducode :
  - Plain language way to describe steps of an algorithm without using actual syntax.



 ### Mutability :(changeble)
   - Mutable we can make changes after creating. e.g. List

### immutable :(unchangeble) :
   - We cannot make chnages once we created e.g. Float, str, int, bytes, tuples.

## Tuples : (Data Structure)
- Tuples are orderd collection of heterogenous value, which are immutable.

 - Variable stored in strctured format , denoted by ().
 - itarable - Can loop through it.
 - We cannot use append(), insert(), pop(), remove() methods in tuple if we want to make changes in tupple we need to convert it into list and then we can use these methods.

In [ ]:
tuple_1 = (2,3,323,212,3,56,8) 

list_1 = list(tuple_1)

list_1.append(1)

tuple_1 = tuple(list_1)

print(tuple_1)

(2, 3, 323, 212, 3, 56, 8, 1)

- Join Two Tuples :

In [16]:
t1 = (1,2,3,4)
t2 = (4,5,6,7,8)

t3= t1 + t2
type(t3)

tuple

- Repetation of tuple :
  -  We can repeate tuple multiple times by multiplying it.

In [ ]:
t4 = t3 *3

### Membership Function :

 1. in :
   - IN is used to check specific element present in list or not
   It will show resukt in boolean vale true or false

In [20]:
tuple_1 = (2,3,323,212,3,56,8)

2 in tuple_1

True

 2. Not in :
  - Not in check whether value is present in tuple or not.
  - If value is there result will fasle

In [ ]:
2 not in tuple_1

False