In [ ]:
#Write a program to concatenate two strings: "Hello" and "World"

# Repeat tuple (10, 20) three times

# Repeat tuple (10, 20) three times

In [ ]:
#Concatenate (1, 2, 3) and (4, 5, 6) â†’ Output: (1, 2, 3, 4, 5, 6).

# Given word = "Python", print the first character.

In [34]:
# Given word = "Python", print the first character.

name = "Python"

print(name[0])
name[-1]

P

'n'

In [33]:
#Extract the 3rd to 6th characters from "DataScience".

v1= "Datascience"
print(v1[3:7])

asci

In [ ]:
# Print the last character of "Programming".

In [ ]:
# Given tup = (100, 200, 300, 400), print the 2nd element.

In [ ]:
# Print the last element of (5, 10, 15, 20).

In [ ]:
# From "Artificial", print every 2nd character.

In [18]:
# Given word = "Python", extract "Pyt".

given_word = "Python"

given_word[0:3]

'dlroWolleH'

In [ ]:
#From "Programming", get "gram".

gv1 = "programming"

gv1[3:7]

In [19]:
# Reverse "HelloWorld" using slicing.
gv2 = "Helloworld"

gv2[::-1]

'dlrowolleH'

In [23]:
# Extract every 2nd character from "DataScience"

gv3 = "DataScience"

print(gv3[::2])

DtSine

In [24]:
# From "Artificial", get the substring "Art".

gstr = "Artificial"

print(gstr[0:3])

Art

In [32]:
# From "MachineLearning", extract "Learning" using negative slicing.

gstr2 = "MachineLearning"

print(gstr2[-8:])

Learning